extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Корзина';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'cart';
block content
    h1 Корзина для покупок
        p.mobile__text Итог заказа
            p.sum Промежуточный итог:
                span.sum_1   4000
        div.mobile__button
            a(class='mobile__button--text' href='#') Оформить
                img.arrow(src=require("../images/cart/arrow.png"))
        div.button_js
    section.form__order
        p.sum__order Итог заказа
        h6.order   Промежуточный итог:
            h6.sum 4000₽
        input(
            placeholder='Подарочная карта'
        )
        div.mobile__button
            a(class='desktop__text' href='#') Оформить
                img.arrow(src=require("../images/cart/arrow.png"))
    section.form
        div.form1
            img.form1_image(src=require("../images/cart/3.png"))
            p.give_mobile Подарок
            h6 Шёлковая пижама
                h6.give_text Подарок
            p.give
                | Подарок на сумму:
                br
                |4000-6000₽
            p.size Размер: s
            p.color Цвет
                div.circle
                    div.circle_in
            a(class='detail' href='#') подробнее
            img.heart(src=require("../images/cart/heart.svg"))
    section.mobile_form
        div.form2
            img.mobile_img(src=require("../images/cart/short.png"))
            h6 Бамбуковые брюки
            p.size Размер: s
            p.color Цвет
                div.circle
                    div.circle_in
            p.quality Количество: + 1 -
            h6.give_text 2000₽
    section.form_2
        div.form2
            img.form_girl(src=require("../images/cart/girl.png"))
            h6 Шёлковая пижама
                h6.give_text 2000₽
            p.quality Количество:   -  1  +
            p.size Размер: s
            p.color Цвет
                div.circle
                    div.circle_in
            a(class='detail' href='#') удалить
            img.heart_form_2(src=require("../images/cart/heart.svg"))